# VSCode settings and configurations 
.vscode/
*.code-workspace

# VSCode extensions configurations and logs
.vscode-test/ 
.vscode-insiders/

# Vim swap files
*.swp
*.swo

# Vim backup files
*.bak
*.~*
*.un~

# Vim session files
*.viminfo

# build folder
build

# dist folder
dist